.navbar-center {
  display: inline-block;
  float: none;
  vertical-align: top;
}


.navbar-collapse-center {
  text-align: center;
}

<!--footer定義-->
.footer{
   background-color: #333;
   height: 100px;
   margin-top: 20px;
   //因為通常 footer 也跟 navbar 一樣會是固定的尺寸，所以這邊可以大膽的設定高度，為了區隔上方的內容，所以用了 margin-top
  .footer-text{
    float: left;
    font-size: $font-m;
    color: $navbar-color;
    line-height: 100px;
    //針對 footer-text 的文字做設定，讓它 footer 的左邊
  }
  .footer-menu{
    float: right;
    line-height: 100px;
     //讓 footer 裡面的連結圖示靠右對齊
    li{
      float: left;
      margin-right: 1em;
      //這邊的 li 的技巧跟上面選單的技巧一樣，就不再贅述
      a{
        font-size: $font-m;
        color: $navbar-color;
        cursor: pointer;
              }
     //設定 a 連結的內容
    }
  }
}